/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4;  color: #323333}

/*
  ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
  ::selection { background: #fe57a1; color: #fff; text-shadow: none; }
  */
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }









@media only screen and (min-width: 35em) {
    

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


body { font-family: 'Open Sans', sans-serif;}
header { 
    height:107px; 
    background: white;
}
header h1 { width:481px; background: url(../img/header.png) top left no-repeat; height: 107px; padding: 0px; margin: 0px; text-indent: -999px; overflow: hidden}
navigation { 
    height: 43px;
    background: url(../img/navigation.png) top left repeat-x;
    display: block;
    line-height: 43px;
    font-size:13px;

}
navigation a img { margin-bottom: 4px;}
navigation a, navigation a:link, navigation a:visited { color: #504040;  margin-right: 37px; padding-left: 7px; display: block; float: left; height: 43px; line-height: 43px; text-decoration: none}
navigation a.active { font-weight: 600; color:#a55d00}
div#producedby { width: 344px; height: 107px; background: url(../img/banner1.png) top right no-repeat; padding: 0px; margin: 0px; float: right; }
/*div#producedby span { display: none;}*/
footer .copyright { color: #bfb6af; font-size: 10px; line-height: 17px; height: 17px; vertical-align: middle}
footer .row { margin-bottom: 48px}
footer { padding-top: 50px;}
.social { vertical-align: top; }
footer .social { float: right;}
header .social { padding-top: 66px;}
div.social-g, div.social-twitter, div.social-fb { float: right; }
div.social-g, div.social-twitter { padding-top: 2px;}
footer .nav a {
    float: left;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    padding-left:7px;
    margin-right:34px;
}
footer a, footer a:visited, footer a:link { color:#351A08; text-decoration: none; font-size: 11px}
#frame { background: url(../img/noise.png) top left repeat;}
#content { background: url(../img/birds.png) bottom left no-repeat;}
h2 { padding-top: 28px; margin-top: 0px; font-weight: 300; color:#351a08; font-size: 32px; margin-bottom: 20px}
h3 { font-size: 15px; font-weight: 300; color:#351a08; line-height:41px; height: 41px; margin-top:0px}
/*a#regnow { float:right}*/


a, a:link, a:visited { color: #ff003c; text-decoration: none}
footer { background: url(../img/bead.png) top left repeat-x; display: block}


#rightrail { background: url(../img/rightrailmid.jpg) top left repeat-y;}
#rightrailtop { background: url(../img/rightrailtop.jpg) top left no-repeat; }
#rightrailbottom {
    background: url(../img/rightrailbottom.jpg) bottom left no-repeat;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 151px;
}

#twitter_accounts { color: #ff003c; font-size: 12px; margin-top: 6px;}
#twitter_accounts a, #twitter_accounts a:visited, #twitter_accounts a:link { color: #ff003c; text-decoration: none; }
#twitter_hash a, #twitter_hash a:link, #twitter_hash a:visited { color: black; text-decoration: none;}
#twitter_hash{ margin: 6px 0px 12px; font-size: 12px;}
.twtr-widget h3 { height: auto}

#social, #organizers { padding-top: 35px; padding-bottom: 25px;}


#sponsors .sponsor { margin-top: 30px;}
#sponsors { padding-bottom: 25px;}
h4 { font-weight: 300; margin-top:25px; margin-bottom: 15px; font-size:22px}
#splash { margin: 25px 0px; text-align: center;}
#main { padding-bottom: 210px}
.reason { font-size: 14px; line-height: 38px;}
#main p { font-size: 14px;}
.reason span { font-weight: bold; margin-right: 10px}
navigation .active { color:#a55d00; font-weight: bold}


#leadin { margin-top: 30px; text-align: center; margin-bottom: 40px }

.social a { margin-right: 11px}
#speakerlist .social a { margin-right: 4px; }
#speakerlist .pic { padding-top: 10px; }
#speakerlist .col3 { 200px; }
#speakerlist .col5 { margin-left: 4px; width: 410px}
.pic .url a { font-size: 13px; color: #323333}
.split { margin-bottom: 50px; margin-top: 40px;}
.name { color: #351a08; font-weight: 200; font-size: 22px; margin-bottom: 15px; }
.bio { font-size: 13px; }
.title { font-size: 15px; margin-bottom: 6px;}
#speakerlist .name { margin-bottom: 6px; }
.split .social { font-size: 12px; padding-top: 8px; vertical-align: middle; line-height: 17px; height: 17px;}
.social img { vertical-align: middle}

#orglist p { margin-top: 0px; }
#orglist .pic { padding-top: 10px; }
#orglist .social { padding-top: 10px; }
#orglist .twitter { float: left;}
#orglist .fb_iframe_widget { float: left; padding-top: 1px }

.talk { margin: 20px 0px; font-size:13px; }
.talk ul { margin: 0px; padding: 0px; list-style: none; }
.talk li:before { content: "- " }

hr { border: 0px; height: 0px; border-top: 1px solid #d5d5d5; margin: 25px 0px;}