<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="og:title" content="Conferenceers - Amazing Events Happen, Don't Be Left Out"/>
  <meta name="og:type" content="website"/>
  <meta name="og:image" content="http://www.conferenceers.com/img/conferenceers.png"/>
  <meta name="og:url" content="http://www.conferenceers.com"/>
  <meta name="og:site_name" content="Conferenceers"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Conferenceers - {{page.title}}</title>
  <meta name="description" content="A curated email list of amazing technology events that will definitely become part of legend, always be aware of when the next great event is about to happen and why.">
  <meta name="viewport" content="width=1024" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id='frame'>
  <header>
    <h1>Conferenceers</h1>
    <h2>Amazing Events Happen - Don't Be Left Out</h2>
  </header>
  <navigation>
  </navigation>
  <div role="main" id='main'>
    <div id='content'>
      {{content}}
    </div>
  </div>
    <footer class="clearfix"><div class="details jsconf"><div class="right">Copyright © <span class="fullyear"></span> Iterative Designs</div>Brought to you by <a href="http://iterativedesigns.com"><img src="http://iterativedesigns.s3.amazonaws.com/logo.gif" alt="Iterative Designs" height="30" width="280"></a></div> </footer>

</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
