<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="og:title" content="Evoke Your Business - Jump Start Your Social Media Savvy Today"/>
  <meta name="og:type" content="website"/>
  <meta name="og:image" content="http://evoke.modwedding.com/img/splash.jpg"/>
  <meta name="og:url" content="http://evoke.modwedding.com"/>
  <meta name="og:site_name" content="Evoke Your Business"/>
  <meta name="og:app_id" content="69598986082"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{page.title}}</title>
  <meta name="description" content="Intimate evening working sessions with leading event planning, social media, design, and technology experts.">
  <meta name="viewport" content="width=1024" />
  <link rel="stylesheet" href="css/978.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=69598986082";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <div class="layout-978">
      <div id='producedby'>

        <div class='social'>

          <div class='social-g'>
          <g:plusone size="medium" href="http://evoke.modwedding.com"></g:plusone>
          </div>
          <div class='social-twitter'>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://evoke.modwedding.com" data-count="horizontal" data-lang="en">Tweet</a>
          </div>
          <div class='social-fb'>
          <div class="fb-like" data-href="http://evoke.modwedding.com/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
          </div>
        </div>
      </div>
      <h1>Evoke Your Business</h1>
    </div>
  </header>
  <navigation>
    <div class="layout-978">

    <div class='row clearfix'>
      <a href="/index.html" id='nav-home'>SEMINAR HOME</a>
      <a href="/speakers.html" id='nav-speakers'>SPEAKERS</a>
      <a href="/schedule.html" id='nav-schedule'>SCHEDULE</a>
      <a href="/venue.html" id='nav-venue'>VENUE</a>
      <a href="/sponsors.html" id='nav-sponsors'>SPONSORS</a>
      <a href="/about.html" id='nav-about'>ABOUT</a>
      <a href="http://www.eventbrite.com/event/2821819137"><img src="img/heart.png" alt="heart" height="12" width="12"/> REGISTER</a>
      </div>
    </div>
  </navigation>
  <div role="main" id='frame'>
    <div id='content'>
      <div class="layout-978">
        <div class="row clearfix">
          <div class='col8' id='main'>
            <h2>{{page.h2}}</h2>
            <h3>
              PARK HYATT, WASHINGTON DC | WED. MARCH 28, 2012 | 6PM - 9PM
              <a href="http://www.eventbrite.com/event/2821819137" id='regnow'>
                <img src="img/regnow.png" alt="Register Now" height="41" width="163"/>
              </a>
            </h3>
            {{content}}



	    <div id='leadin'>
	      <a href='http://www.eventbrite.com/event/2821819137'><img src='img/leadin.jpg' alt="Register now, seats are limited"/></a>
	    </div>

          </div>
          <div class='col4' id='rightrail'>
            <div id='rightrailtop'>
              <div id='rightrailbottom'>
                <div id='sponsors'>
                  <img src="img/sponsors.png" alt="Sponsors" />
                </div>
                  <img src="img/sep.png" alt="Separator"/>
                <div id='social'>
                  <img src="img/socialchatter.png" alt="Social Chatter" />
                  <div id='twitter_accounts'>
                    <a href="http://twitter.com/evokedc">@EvokeDC</a> + <a href="http://twitter.com/modwedding">@MODwedding</a>
                  </div>
                  <div id='twitter_hash'>
                    <a href="https://twitter.com/#!/search/realtime/evokesocial">#evokesocial</a>
                  </div>
                  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                  <script>
                  new TWTR.Widget({
                    version: 2,
                    type: 'search',
                    search: 'evokesocial',
                    interval: 30000,
                    title: 'EVOKE &amp; MODWEDDING SEMINAR',
                    subject: 'CHATTER',
                    width: 250,
                    height: 300,
                    theme: {
                      shell: {
                        background: '#c4c4c4',
                        color: '#ffffff'
                      },
                      tweets: {
                        background: '#ffffff',
                        color: '#444444',
                        links: '#fa0085'
                      }
                    },
                    features: {
                      scrollbar: false,
                      loop: true,
                      live: true,
                      behavior: 'default'
                    }
                  }).render().start();
                  </script>
                </div>
                <img src="img/sep.png" alt="Separator"/>
                <div id='organizers'>
                  <img src="img/organizers.png" alt="Organizers" />
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="layout-978">
      <div class="row clearfix">
        
        <div class='social'>

          <div class='social-g'>
          <g:plusone size="medium" href="http://evoke.modwedding.com"></g:plusone>
          </div>
          <div class='social-twitter'>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://evoke.modwedding.com" data-count="horizontal" data-lang="en">Tweet</a>
          </div>
          <div class='social-fb'>
          <div class="fb-like" data-href="http://evoke.modwedding.com/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
          </div>
        </div>
        <div class='nav'>
        <a href="/index.html">SEMINAR HOME</a>
        <a href="/speakers.html">SPEAKERS</a>
        <a href="/schedule.html">SCHEDULE</a>
        <a href="/venue.html">VENUE</a>
        <a href="/sponsors.html">SPONSORS</a>
        <a href="/about.html">ABOUT</a>
        <a href="http://www.eventbrite.com/event/2821819137">REGISTER</a>
        </div>
      </div>
      <div class="row copyright">
        <a href="http://www.modwedding.com">
          <img src="img/modsub.png" alt="MODWEDDING" height="17" width="149"/>
        </a>
        <a href="http://www.evokedc.com">
          <img src="img/evokesub.png" alt="EVOKE" height="17" width="84"/>
        </a>
        &nbsp;
        &copy;  2012 Evoke Your Business
        &copy;  2012 MODwedding.com
        &copy;  2012 Evoke.
        Designated trademarks and brands are the property of their respective owners.
      </div>
    </div>
  </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
